[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
ipython = "*"
pre-commit = "*"
tox = "*"
tox-pipenv = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
pylint-flask = "*"

[packages]
flask = "*"
flask-mongoengine = "*"
requests = "*"
celery = "*"
redis = "*"
gunicorn = "*"
sentry-sdk = {extras = ["flask"],version = "==0.7.10"}

[requires]
python_version = "3.6"
